# old files
.old/

# data
data/sources/private/*

# code
*.pyc
.tags
.prof/

# tex
*.aux
*.lof
*.log
*.lot
*.out
*.toc
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.synctex
*.synctex.gz
*.synctex.gz
*.nav
*.brf
*.dvi
