# old & comment files
.old/
.comments/

# data
outputs/data/sensitivity/raw/

# code
*.pyc
.tags
.prof/
jobs/
__pycache__/

# tex
*.aux
*.lof
*.log
*.lot
*.out
*.toc
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.spl
*.synctex
*.synctex.gz
*.synctex.gz
*.nav
*.brf
*.dvi
*-converted-to.pdf

# misc
.DS_Store
