{
  "targets": {
    "compare-hetero": {
      "cmd": "python3 main/main.py compare-hetero"
    }
    "compare-growth": {
      "cmd": "python3 main/main.py compare-growth"
    }
    "compare-turnover": {
      "cmd": "python3 main/main.py compare-turnover prevalence incidence"
    }
    "sensitivity-plot": {
      "cmd": "python3 main/main.py sensitivity-plot"
    }
    "flows": {
      "cmd": "python3 main/flows.py"
    }
    "fit": {
      "cmd": "python3 main/main.py batch fit"
    }
    "compare-tpaf": {
      "cmd": "python3 main/main.py compare-tpaf"
    }
  }
}
