{
  "cmd": "python3 main/main.py",
  "name": "main",
  "targets": {
    "symbolic": {
      "cmd": "python3 symbolic/solve-symbolic.py"
    }
    "surface": {
      "cmd": "python3 surface/surface.py"
    }
  }
}